.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    max-width: 500px;
    margin: 0 auto;
}

.square {
    width: auto;
    aspect-ratio: 1/1;
    outline: 1px solid red;
}